    <!--Footer-->
    <footer class="bg-dark text-center text-white">
      <div class="container p-4">
        <!--Media społecznościowe-->
        <section class="mb-4">
          <a
            href="https://www.facebook.com/piotr.rzepkowski.3/" 
            target="_blank"
            class="btn btn-outline-light rounded-circle btn-floating m-1"
            role="button"
            style="background-color: #3b5998"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="#!"
            target="_blank"
            class="btn btn-outline-light rounded-circle btn-floating m-1"
            role="button"
            style="background-color: #55acee"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            href="https://www.google.pl"
            target="_blank"
            class="btn btn-outline-light rounded-circle btn-floating m-1"
            role="button"
            style="background-color: #dd4b39"
            ><i class="fab fa-google"></i
          ></a>
          <a
            href="https://www.instagram.com/piotrullo_/"
            target="_blank"
            class="btn btn-outline-light rounded-circle btn-floating m-1"
            role="button"
            style="background-color: #ac2bac"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            href="https://github.com/piotr-rzepa"
            target="_blank"
            class="btn btn-outline-light rounded-circle btn-floating m-1"
            role="button"
            style="background-color: #333333"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!--Media społecznościowe end-->
      </div>

      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" placeholder="Enter email" />
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">Subscribe</button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->

      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus
          placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text end-->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright end-->
    </footer>
    <!--Footer end-->