  <div
      class="jumbotron text-center"
      style="
        margin-bottom: 0;
        background: url('/images/code-unsplash2.jpg') no-repeat center fixed;
        background-size: cover;
        object-fit: contain;
      "
    >
      <h1 class="text-white">Website with solved coding problems</h1>
      <h6 class="text-white">Check solutions to various problems in different programming languages.</h6>
    </div>