  <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark align-items-start">
      <a href="/home/page1" class="navbar-brand">PBWCP</a>

      <!--Włącza/wyłącza przycisk menu-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

        <!-- Wyszukiwanie artykułów-->
        <form class="form-inline ml-auto">
          <div class="input-group mb-0">
            <input type="text" class="form-control" id="editText-search" placeholder="Search" />
            <div class="input-group-append">
              <button class="btn btn-info" id="button-search" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        <!--Wyszukiwanie artykułów koniec-->

        <!--Logowanie oraz rejestracja-->
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a href="/login" class="nav-link"><i class="fas fa-user p-1"></i>Login</a>
          </li>
          <li class="nav-item">
            <a href="/create" class="nav-link"><i class="fas fa-sign-in-alt p-1"></i>Sign up</a>
          </li>
        </ul>
        <!--Logowanie oraz rejestracja koniec-->
      </div>
    </nav>
    <!--Navbar koniec-->
      <script src="/javascripts/search.js"></script>
    